*.gem
/.bundle/
/coverage/

Gemfile.lock

# Bundler Binstubs
/bin/*
!/bin/rake
!/bin/rspec

# Yard output
/.yardoc/
/doc/

# Vendored files
/vendor/bundle

# Packages
*.deb

# Legacy ignores from Rust version
/target
**/*.rs.bk
