name: CI

on:
  push:
    branches: ['ruby']
  pull_request:
    branches: ['ruby']

jobs:
  test:
    name: Test (${{ matrix.os }}, Ruby ${{ matrix.ruby-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          # - windows-latest  # TODO: Figure out why rspec is breaking in Windows
        ruby-version:
          - '2.7'
          - '3.0'

    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run Tests and Generate Coverage
        run: bundle exec rspec
      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  lint:
    name: Check Style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Check Style
        run: bundle exec rubocop
